<!doctype html>

<!--Temp style to separate messages-->
<head>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/crypto.css') }}">
</head>

<html>

   	<body>
   	
   	<h1> Crypto Message Board</h1>
	
	<!--Show login page & help if not logged in-->
	<!--Show user name if logged in-->
    {% if session.get("current_user", None) == None %}
	<a href="/whatsthis"><b><u>What is Cypto Message Board?</u></b></a> <br><br>
	<form class="login_form" action="/login" method="post">
		<input type="text" name="user_name" placeholder="User Name"><br>
		<input type="password" name="user_password" placeholder="Password"><br>
		<button type="submit" name="action" value="login">Log In</button> <button type="submit" name="action" value="signup">Sign Up</button>
	</form>
	<br>

	Current spot <img class="ico" src="/static/img/btc_logo.png" style="width:20px;height:20px; alt="BTC"></img>/<img class="ico" src="/static/img/cash.png" style="width:20px;height:20px; alt="USD"></img>: {{ btc_price_main_page }}
    
    {% else %}
    	<div class="login_info">
          You are logged in as: {{ session.get("current_user") }} 
          <a href="/logout"><b><u>Log Out</u></b></a> <br>
          Currently you have: 
          <img class="ico" src="/static/img/btc_logo.png" style="width:20px;height:20px; alt="BTC balance:"></img> {{ total_btc }}, 
          <img class="ico" src="/static/img/cash.png" style="width:20px;height:20px; alt="cash balance:"></img> {{ total_cash }} <br>
          Net worth: {{ total_cash + total_btc * btc_price_main_page }} <br>
          Current spot <img class="ico" src="/static/img/btc_logo.png" style="width:20px;height:20px; alt="BTC"></img>/<img class="ico" src="/static/img/cash.png" style="width:20px;height:20px; alt="USD"></img>: {{ btc_price_main_page }}
          
      	</div>

    <!--Input form for a message and a transaction-->
    <h2>New Message</h2>

	<form class="new_message_form" action="{{ url_for('new_msg') }}" method="POST">
	 	Type your message here:<br>
	 	<textarea name="message_content" placeholder="Type your message here" rows="5" cols="50"></textarea><br>
		<input type="number" name="transaction_amount" placeholder="Amount to buy/sell">
		<input type="radio" id="buy" name="transaction_type" value="buy" checked="checked"> <label for="buy">buy</label>
		<input type="radio" id="sell" name="transaction_type" value="sell"> <label for="sell">sell</label>
	 	<br><br>
	 	<input type="submit" value="Submit">
	</form> 
    {% endif %}


    <!--Lits of all messages from the DB-->
	<h2>Message List</h2>

	{% if session.get("current_user") == "admin" %}
	<a href="{{ url_for('clear_and_reset') }}">clear messages and reset balances</a>
	<br><br>
	{% endif %}

	<!--Looping through the list of messages and diplaying each message separately-->

	{{ pagination.info }}
	{{ pagination.links }}

	{% for row in rows %}

	<table class="messages">
		<tr><td colspan=3><b> {{ row["user_name"] }} </b><br></td></tr>
		<tr><td colspan=3><i> Date: {{ row["message_date"] }} </i><br></td></tr>
		<tr><td colspan=3>
		{% if row["transaction_amount"] > 0 %}
		Bought {{ row["transaction_amount"] }}
		{% endif %}

		{% if row["transaction_amount"] < 0 %}
		Sold {{ -1 * row["transaction_amount"] }}
		{% endif %}

		BTC @ the price of {{ row["btc_price"] }} <br></td></tr>

		<tr><td>Total 

		<img class="ico" src="/static/img/btc_logo.png" style="width:20px;height:20px; alt="BTC"></img>: {{ row["new_btc"] }}</td>
		<td><img class="ico" src="/static/img/cash.png" style="width:20px;height:20px; alt="cash"></img>: {{ row["new_cash"] }}</td>
		<td>Net worth: {{ row["net_worth"] }} </td></tr>
		<tr><td colspan=3><div class="message_content">{{ row["message_content"] }}</div></td></tr>

	</table>
	<br>

	{% endfor %}
      
   	</body>
	
</html>