<!doctype html>

<!--Temp style to separate messages-->
<style>
.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;

}
body {
	color: #191970;
	font-family: "Courier New", Courier, monospace;
	background-color: #CCFFFF;}

img.ico {
    vertical-align: text-bottom;
}

.message_content {
	white-space: pre-wrap;
	}
  
</style>

<html>

   	<body>
   	
   	<h1> Crypto Message Board</h1>
	
	<!--Show login page if not logged in-->
	<!--Show user name if logged in-->
    {% if session.get("current_user", None) == None %}
	<form class="login_form" action="/login" method="post">
		<input type="text" name="user_name" placeholder="User Name"><br>
		<input type="password" name="user_password" placeholder="Password"><br>
		<button type="submit" name="action" value="login">Log In</button> <button type="submit" name="action" value="signup">Sign Up</button>
	</form>
    
    {% else %}
    	<div class="login_info">
          You are logged in as: {{ session.get("current_user") }} 
          <a href="/logout"><b><u>Log Out</u></b></a> <br>
          <img class="ico" src="/static/img/btc_logo.png" style="width:20px;height:20px; alt="BTC balance:"> {{ total_btc }}, 
          <img class="ico" src="/static/img/cash.png" style="width:20px;height:20px; alt="cash balance:"> {{ total_cash }}
          
      	</div>

    <!--Input form for a message and a transaction-->
    <h2>New Message</h2>

	<form class="new_message_form" action="{{ url_for('new_msg') }}" method="POST">
	 	Type your message here:<br>
	 	<textarea name="message_content" placeholder="Type your message here" rows="5" cols="50"></textarea><br>
		<input type="number" name="transaction_amount" placeholder="Amount to buy/sell">
		<input type="radio" id="buy" name="transaction_type" value="buy" checked="checked"> <label for="buy">buy</label>
		<input type="radio" id="sell" name="transaction_type" value="sell"> <label for="sell">sell</label>
	 	<br><br>
	 	<input type="submit" value="Submit">
	</form> 
    {% endif %}

    <!--Lits of all messages from the DB-->
	<h2>Message List</h2>

	{% if session.get("current_user") == "admin" %}
	<a href="{{ url_for('clear_and_reset') }}">clear messages and reset balances</a>
	<br><br>
	{% endif %}

	<!--Looping through the list of messages and diplaying each message separately-->

	{{ pagination.info }}
	{{ pagination.links }}

	{% for row in rows %}

	<div class="messages">
		<b> {{ row["user_name"] }} </b><br>
		<i> Date: {{ row["message_date"] }} </i><br>
		<i> BTC Price: {{ row["btc_price"] }} </i><br>
		Buy/(sell): {{ row["transaction_amount"] }}
		<img class="ico" src="/static/img/btc_logo.png" style="width:20px;height:20px; alt="BTC">: {{ row["new_btc"] }}
		<img class="ico" src="/static/img/cash.png" style="width:20px;height:20px; alt="cash">: {{ row["new_cash"] }}
		Net worth: {{ row["net_worth"] }}
		<br>
		<div class="message_content">{{ row["message_content"] }}</div>

	</div>
	<br>

	{% endfor %}
      
   	</body>
	
</html>