<!doctype html>

<!--Temp style to separate messages-->
<head>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/crypto.css') }}">
</head>

<html>

   	<body>
   		
   		The Crypto Message Board (CMB) was created to track hypothetical bitcoin purchases and sales. <br>
   		Anyone can register by entering a username and a password. New users start with $100k and zero BTC. <br>
   		You can post messages to CMB and at the same time you can buy or sell BTC. <br>
   		The message can contain anything, but ideally you should explain why you bought/sold that amount. <br>
   		Therefore you can track not only your (hypothetical) trades, but also the reasoning behind them. <br><br>
   		BTC prices are read from coinmarketcap.com at least every 60 seconds. <br>
   		<br><br>
   		This is only a simulation, so no real money or BTC is exchanged.
   		The site is not meant to be secure, only use passwords that are not used elsewhere.
   		<br><br>
   		
   		<a href="{{ prefix }}/"><b><u>Back to the Board</u></b>
      
   	</body>
	
</html>