
body {
	color: #191970;
	font-family: "Courier New", Courier, monospace;
	background-color: #CCFFFF;}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
	display: inline-block;}

img.ico {
    vertical-align: text-bottom;}

.message_content {
	white-space: pre-wrap;}

.pagination {
    letter-spacing: 10px;}

#pagination a:link { color: #70DB93; }

table, th, td {
    border: 1px solid black;}
 